<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>입사 지원 이력 작성</title>
</head>
<body>
	<div th:replace="~{common/header :: header}"></div>
		
	<div>
		<div><!-- 왼쪽 공백 --></div>
	
		<div>
			<table class="table table-hover">
				<tr>
					<td>지원 일자(필수)</td>
					<td><input type="date"/></td>
				</tr>
				<tr>
					<td>회사명(필수)</td>
					<td><input type="text" placeHolder="회사 명을 입력해주세요"/></td>
				</tr>
				<tr>
					<td>급여 수준</td>
					<td><input type="number"/></td>
				</tr>				
				<tr>
					<td>지원상태(필수)</td>
					<td>
						<label><input type="radio" name="resumeState"/>지원 중</label>					
						<label><input type="radio" name="resumeState"/>서류 합격</label>
						<label><input type="radio" name="resumeState"/>면접 합격</label>
						<label><input type="radio" name="resumeState"/>최종 합격</label>
					</td>
				</tr>
				<tr>
					<td>경력(필수)</td>
					<td>
						<label><input type="radio" name="resumeCareer"/>신입</label>					
						<label><input type="radio" name="resumeCareer"/>1년차 이상</label>
						<label><input type="radio" name="resumeCareer"/>3년차 이상</label>
						<label><input type="radio" name="resumeCareer"/>5년차 이상</label>
					</td>
				</tr>
				<tr>
					<td>지원마감일</td>
					<td><input type="date"/></td>
				</tr>
				<tr>
					<td>지원 플랫폼(필수)</td>
					<td>
						
					
					</td>
				</tr>
			</table>
			
		
		
		</div>
		
		<div><!-- 오른쪽 공백 --></div>
	</div>	
		
	
	
	
	
	
	<div th:replace="~{common/footer :: footer}"></div>
	<script>
		window.onload = () => {
						
			
			
			
			
			
		}
	</script>
</body>
</html>