<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>입사 지원 이력 페이지</title>
	<!-- charJS CDN -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
	<div th:replace="~{common/header :: header}"></div>
	
	<div style="background: black; width: 75px; height: 75px; position: fixed; left: 95%; top: 90%;"></div>
	
	
	<div id="wrapper">
		<div><!-- 왼쪽 공백 --></div>
		
		<div>
			<div> <!-- 지원 이력 시각화 div -->
				<div> <!-- 시각화 기준 지정 -->
					<h1>나의 목표</h1>
					<form>
						<label>기준</label>
						<select name="term" disabled>
							<option value="year">Year</option>
							<option value="month">Month</option>
							<option value="week">Week</option>
						</select>
						<input type="text" value="0/150" readOnly/>
						<button type="button" id="modifyBtn" class="btn btn-primary">수정하기</button>
						<button type="button" id="submitBtn" class="btn btn-primary" disabled>설정하기</button>
					</form>
				</div>
				
				<div> <!-- 데이터 시각화 -->
					<div style="width: 300px; height: 300px;">
						<canvas id="piChart"><!-- 지원 직군에 대한 원형 그래프 --></canvas>
					</div>
					<div style="width: 300px; height: 300px;">
						<canvas id="barChart"><!-- 지원 추이에 대한 막대 그래프 --></canvas>
					</div>
				</div>
			</div>		
		
			<div> <!-- 지원 이력 출력 div -->
				<form>
					<span>회사명</span>
					<input type="text" placeHolder="회사명"/>
					<span>지원기간</span>
					<input type="date"/> - <input type="date"/>
					<span>직무 정보</span>
					<input type="text" placeHolder="스킬명 또는 경험"/>
					<button type="button" class="btn btn-light" id="searchBtn">검색하기</button>
					<button type="button" class="btn btn-light" id="selectAllBtn">전체보기</button>
					<button type="button" class="btn btn-light" id="insertBtn" onclick="location.href='insertResumeHistoryPage.rh'">등록하기</button>
				</form>
							
				<button type="button" class="btn btn-danger">삭제</button>
			
				<table class="table table-hover">
					<thead>
						<tr>
							<th>선택</th>
							<th>날짜</th>
							<th>회사명</th>
							<th>진행상태</th>
							<th>업종</th>
							<th>직무기술</th>
							<th>지원플랫폼</th>
							<th>기타</th>
						</tr>
					</thead>
						
					<tbody>
						<tr>
							<td>
								<input type="hidden" name="resumeNo"/>
								<input type="checkbox"/>
							</td>
							<td>24-01-01</td>
							<td>KH정보교육원</td>
							<td>진행중</td>
							<td>SI</td>
							<td>JAVA, Spring</td>
							<td>사람인</td>
							<td>자동화 배포 경험</td>
						</tr>
						<tr>
							<td><input type="checkbox"/></td>
							<td>24-01-01</td>
							<td>KH정보교육원</td>
							<td>진행중</td>
							<td>SI</td>
							<td>JAVA, Spring</td>
							<td>사람인</td>
							<td>자동화 배포 경험</td>
						</tr>
					</tbody>
				</table>
			
			</div>
		</div>
	
		<div><!-- 오른쪽 공백 --></div>
	</div>
	
	<div th:replace="~{common/footer :: footer}"></div>	
	<script>
		window.onload = () => {
			// 지원 직군에 대한 원형 그래프 (시작)
			const ctx = document.getElementById('piChart');
			
			new Chart(ctx, {
			  type: 'pie',
			  data: {
				  labels: [
			  	    'SI',
				    'SM',
				    'SOLUTION'
				  ],
				  datasets: [{
			    	label: 'My First Dataset',
				    data: [300, 50, 100],
				    backgroundColor: [
				      'rgb(255, 99, 132)',
				      'rgb(54, 162, 235)',
				      'rgb(255, 205, 86)'
				    ],
				    hoverOffset: 4,
				    options: {
				    	responsive: false, // 동적으로 사이즈 변경 X
				    	maintainAspectRatio : false // 차트 비율 유지 X
				    }
			  }]
				}
			});
			// 지원 직군에 대한 원형 그래프 (끝)
			
			//지원 추이에 대한 막대 그래프 (시작)
			const ctx2 = document.getElementById('barChart');
			
			const mixedChart = new Chart(ctx2, {
				   type: 'bar',
				   data: {
				       datasets: [{
				           label: 'Bar Dataset',
				           data: [10, 20, 30, 40],
				           // this dataset is drawn below
				           order: 2
				       }, {
				           label: 'Line Dataset',
				           data: [10, 10, 10, 10],
				           type: 'line',
				           // this dataset is drawn on top
				           order: 1
				       }],
				       labels: ['January', 'February', 'March', 'April']
				   }
				   
				});
			//지원 추이에 대한 막대 그래프 (끝)
			
		
			
		}	
	</script>
</body>
</html>