<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>입사 지원 이력 페이지</title>
	<!-- charJS CDN -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
	<div th:replace="~{common/header :: header}"></div>
	
	<div style="background: black; width: 75px; height: 75px; position: fixed; left: 95%; top: 90%;"></div>
	
	
	<div id="wrapper">
		<div><!-- 왼쪽 공백 --></div>
		
		<div>
			<div> <!-- 지원 이력 시각화 div -->
				<div> <!-- 시각화 기준 지정 -->
					<h1>나의 목표</h1>
					<form>
						<label>기준</label>
						<select name="term" disabled>
							<option value="year">Year</option>
							<option value="month">Month</option>
							<option value="week">Week</option>
						</select>
						<input type="text" value="0/150" readOnly/>
						<button type="button" id="modifyBtn" class="btn btn-primary">수정하기</button>
						<button type="button" id="submitBtn" class="btn btn-primary" disabled>설정하기</button>
					</form>
				</div>
				
				<div> <!-- 데이터 시각화 -->
					<div style="width: 300px; height: 300px;">
						<canvas id="piChart"><!-- 지원 직군에 대한 원형 그래프 --></canvas>
					</div>
					<div style="width: 300px; height: 300px;">
						<canvas id="barChart"><!-- 지원 추이에 대한 막대 그래프 --></canvas>
					</div>
				</div>
			</div>		
		
			<div> <!-- 지원 이력 출력 div -->
				<form id="searchForm" method="get" action="searchResumeHistory.rh">
					<span>회사명</span>
					<input type="text" placeHolder="회사명" class="searchFormat" name="companyName"/>
					<span>지원기간</span>
					<input type="date" class="searchFormat" name="beginDt"/> - <input type="date" class="searchFormat" name="endDt"/>
					<span>직무 정보</span>
					<input type="text" placeHolder="스킬명 또는 경험" class="searchFormat" name="infoName"/>
					<button type="button" class="btn btn-light" id="searchBtn">검색하기</button>
					<button type="button" class="btn btn-light" id="selectAllBtn">전체보기</button>
					<button type="button" class="btn btn-light" id="insertBtn" onclick="location.href='insertResumeHistoryPage.rh'">등록하기</button>
				</form>
							
				<button type="button" class="btn btn-danger" id="delBtn">삭제</button>
			
				<table class="table table-hover">
					<thead>
						<tr>
							<th>선택</th>
							<th>날짜</th>
							<th>회사명</th>
							<th>진행상태</th>
							<th>업종</th>
							<th>필수 직무 기술</th><!-- 인포타입 : 101, 102, 103, 104 -->
							<th>우대 직무 기술</th><!-- 인포타입 : 101, 102, 103, 104 -->
							<th>지원플랫폼</th>
							<th>지식</th><!-- 인포타입 : 201, 203, 203 -->
							<th></th>
						</tr>
					</thead>
						
					<tbody>
						<tr th:each="rh : ${rhList}">
							<td>
								<input type="hidden" name="resumeNo" th:value="${rh.resumeNo}"/>
								<input type="checkbox" class="delCheckBox"/>
							</td>
							<td th:text="${#strings.substring(rh.resumeDate, 2)}"></td>
							<td th:text="${rh.companyName}"></td>
							<td>				
								<span th:if="${rh.resumeState == 0}">지원</span>
								<span th:if="${rh.resumeState == 1}">서류합격</span>
								<span th:if="${rh.resumeState == 2}">면접합격</span>
								<span th:if="${rh.resumeState == 3}">최종합격</span>
							</td>
							<td th:text="${rh.companyType.typeName}"></td>
							<td>
								<th:block th:each="con : ${conList}" th:if="${rh.resumeNo == con.resumeNo && con.conditionType == 1}">
									<th:block th:if="${con.infoType < 200}">
										[[${con.infoName}]]
									</th:block>
								</th:block>
							</td>
							<td>
								<th:block th:each="con : ${conList}" th:if="${rh.resumeNo == con.resumeNo && con.conditionType == 0}">
									<th:block th:if="${con.infoType < 200}">
										[[${con.infoName}]]
									</th:block>
								</th:block>
							</td>
							<td th:text=${rh.platformType.platformName}></td>
							<td>
								<th:block th:each="con : ${conList}" th:if="${rh.resumeNo == con.resumeNo && con.conditionType == 0}">
									<th:block th:if="${con.infoType > 200}">
										[[${con.infoName}]]
									</th:block>
								</th:block>
							</td>
							<td>
								<button type="button" class="btn btn-light modifyBtn">Modify</button>
							</td>
						</tr>
					</tbody>
				</table>
				
				<!-- pi
					PageInfo(currentPage=1, listCount=6, pageLimit=5, boardLimit=10, maxPage=1, startPage=1, endPage=1
				 -->
				<nav aria-label="Page navigation" th:with="loc=${loc}"> <!-- loc = 요청url -->
				    <ul class="pagination">
					    <li class="page-item">
					    	<a class="page-link" th:if="${pi.currentPage > 1}" th:href="@{${loc}(page=${pi.currentPage - 1})}" aria-label="Previous">
					        	<span aria-hidden="true">&lt;</span>
					        </a>
					      	<a class="page-link disabled" th:unless="${pi.currentPage > 1}" href="#" aria-label="Previous">
					        	<span aria-hidden="true">&lt;</span>
					        </a>
					    </li>
					    <li class="page-item" th:each="p : ${#numbers.sequence(pi.startPage, pi.endPage)}">
					    	<a class="page-link" th:if="${pi.currentPage != p}" th:href="@{${loc}(page=${p})}">[[${p}]]</a>
					    	<a class="page-link disabled" th:unless="${pi.currentPage != p}" href="#">[[${p}]]</a>
				    	</li>
					    <li class="page-item">
					        <a class="page-link" th:if="${pi.currentPage < pi.maxPage}" th:href="@{${loc}(page=${pi.currentPage + 1})}" aria-label="Next">
					        	<span aria-hidden="true">&gt;</span>
					        </a>
					    	<a class="page-link disabled" th:unless="${pi.currentPage < pi.maxPage}" href="#" aria-label="Next">
					        	<span aria-hidden="true">&gt;</span>
					        </a>
					    </li>
				    </ul>
				</nav>
			</div>
		</div>
	
		<div><!-- 오른쪽 공백 --></div>
	</div>
	
	<div th:replace="~{common/footer :: footer}"></div>	
	<script th:inline="javascript">
		window.onload = () => {
			// 지원 직군에 대한 원형 그래프 (시작)
			const ctx = document.getElementById('piChart');
			
			new Chart(ctx, {
			  type: 'pie',
			  data: {
				  labels: [
			  	    'SI',
				    'SM',
				    'SOLUTION'
				  ],
				  datasets: [{
			    	label: 'My First Dataset',
				    data: [300, 50, 100],
				    backgroundColor: [
				      'rgb(255, 99, 132)',
				      'rgb(54, 162, 235)',
				      'rgb(255, 205, 86)'
				    ],
				    hoverOffset: 4,
				    options: {
				    	responsive: false, // 동적으로 사이즈 변경 X
				    	maintainAspectRatio : false // 차트 비율 유지 X
				    }
			  }]
				}
			});
			// 지원 직군에 대한 원형 그래프 (끝)
			
			//지원 추이에 대한 막대 그래프 (시작)
			const ctx2 = document.getElementById('barChart');
			
			const mixedChart = new Chart(ctx2, {
				   type: 'bar',
				   data: {
				       datasets: [{
				           label: 'Bar Dataset',
				           data: [10, 20, 30, 40],
				           // this dataset is drawn below
				           order: 2
				       }, {
				           label: 'Line Dataset',
				           data: [10, 10, 10, 10],
				           type: 'line',
				           // this dataset is drawn on top
				           order: 1
				       }],
				       labels: ['January', 'February', 'March', 'April']
				   }
				   
				});
			//지원 추이에 대한 막대 그래프 (끝)

			//검색 조건 유효성 검사 (시작)
			
			const searchFormatVaild = () => {
				let searchFlag = false;
				const searchFormatList = document.querySelectorAll('.searchFormat');
				
				if (searchFormatList[0].value.trim().length > 0) {
					searchFlag = true; //회사명 입력 -> 유효성 통과
				} else if (searchFormatList[1].value.length > 0 && searchFormatList[2].value.length > 0) {
					const beginDt = new Date(searchFormatList[1].value);
					const endDt = new Date(searchFormatList[2].value);
					searchFlag = beginDt <= endDt ? true : false;
				} else if (searchFormatList[3].value.trim().length > 0) {
					searchFlag = true;
				}
				
				return searchFlag;
			}
			//검색 조건 유효성 검사 (끝)
			
			//지원 이력 검색 (시작)
			const searchBtn = $('#searchBtn');
			const searchForm = $('#searchForm');
			const searchFormat = {};
			
			searchBtn.on('click', () => {
				if (searchFormatVaild()) {
					const searchFormatList = document.querySelectorAll('.searchFormat');
					/* searchFormat.companyName = searchFormatList[0].value;
					searchFormat.beginDt = searchFormatList[1].value;
					searchFormat.endDt = searchFormatList[2].value;
					searchFormat.companyName = searchFormatList[3].value;
					location.href = 'searchResumeHistory.rh?' + JSON.stringify(searchFormat); */
					searchForm.submit();
				} else {
					alert('검색 조건을 입력해주세요.');
				}
			});
			//지원 이력 검색 (끝)
			
			//전체보기 (시작)
			const selectAllBtn = $('#selectAllBtn');
			selectAllBtn.on('click', () => {
				location.href='resumeHistoryPage.rh';
			});
			//전체보기 (끝)
			
			//수정하기 (시작) : jQuery로 요소에 접근하였기 때문에 for문 없이 이벤트 지정 가능
			const modifyBtnList = $('.modifyBtn'); 
			modifyBtnList.on('click', function() {
				//지원번호에 접근하기
				const resumeNo = $(this).parent().parent().children()[0].children[0].value;
				//currentPage에 접근하기
				/*<![CDATA[*/
				const pi = /*[[${pi}]]*/'currentPage';
				/*]]>*/
				
				location.href='updateResumeHistoryPage.rh?resumeNo=' + resumeNo + '&page=' + pi.currentPage;
			});
			//수정하기 (끝)

			//삭제하기 (시작)
			const delCheckBoxList = document.querySelectorAll('.delCheckBox');
			const delResumeNoArray = [];
			const getDelResumeNo = () => {
				
				for (let b of delCheckBoxList) {
					if (b.checked) {
						delResumeNoArray.push(b.previousElementSibling.value);
					}
				}
			}
			
			const delBtn = document.querySelector('#delBtn'); 
			delBtn.addEventListener('click', () => {
				getDelResumeNo(); //삭제할 글 번호를 배열에 저장하기
				
				if(delResumeNoArray.length == 0) { //삭제할 글 번호가 없음
					alert('지원 이력을 선택해주세요.');
				} else { //삭제할 글 번호가 있음
					//글 번호 노출 -> url을 통해 삭제 요청을 할지 모르는데? -> post 방식으로 전달하기를 바람
					console.log(JSON.stringify(delResumeNoArray));
					
					$.ajax({
						url: 'deleteResumeHistory.rh',
						type: 'POST',
						data: {delResumeNoArray: delResumeNoArray},
						success: data => {
							if(data == 'success') {
								location.href='resumeHistoryPage.rh';
								
							} else {
								location.href='resumeHistoryErrorPage.rh?msg=del';
							}
						},
						error: data => {
							console.log(data);
						}
					});
				}
			});
			//삭제하기 (끝)
			
			
			
			
		}	
	</script>
</body>
</html>