<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>채팅 방 조회</title>
	<!-- 페이지명 왼쪽에 아이콘 삽입 -->
	<link rel="shortcut icon" href="/image/icon/logo.png">
	<!-- css -->
	<link href="/css/chatRoom.css" rel="stylesheet" type="text/css"/>
	<!-- Stomp 추가 -->
	<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
	<div th:replace="~{common/header :: header}"></div>

	<div id="wrapper">
		<div><!-- 왼쪽 공백 --></div>
		
		<div><!-- 왼쪽 메뉴 공간 -->
			<ul class="nav flex-column">
				<li class="nav-item">
					<a th:if="${info == 'general'}" class="nav-link disabled" aria-current="page" href="#">일반 정보</a>
			    	<a th:unless="${info == 'general'}" class="nav-link active" th:href="@{/members/{memberNo}(memberNo=${session.loginMember.memberNo}, info='general')}">일반 정보</a> 
			    	<!-- <a class="nav-link disabled" aria-current="page" href="#">일반 정보</a> -->
			  	</li>
			  	<li class="nav-item">
			    	<a th:if="${info == 'epilogue'}" class="nav-link disabled" aria-current="page" href="#">나의 후기</a>
			    	<a th:unless="${info == 'epilogue'}" class="nav-link active" th:href="@{/epilogues/{memberNo}(memberNo=${session.loginMember.memberNo})}">나의 후기</a>
			  	</li>
			  	<li class="nav-item">
			    	<a th:if="${info == 'pwd'}" class="nav-link disabled" aria-current="page" href="#">비밀번호 변경하기</a>
			    	<a th:unless="${info == 'pwd'}" class="nav-link active" th:href="@{/members/{memberNo}/edit(memberNo=${session.loginMember.memberNo}, info='pwd')}">비밀번호 변경하기</a>
			  	</li>
			  	<li class="nav-item">
			    	<a th:if="${info == 'chat'}" class="nav-link disabled" aria-current="page" href="#">나의 채팅</a>
			    	<a th:unless="${info == 'chat'}" class="nav-link active" th:href="@{/chats/{memberNo}(memberNo=${session.loginMember.memberNo})">나의 채팅</a>
			  	</li>
			</ul>
		</div>
		
		<div> <!-- 본문 컨텐츠 -->
			<h3>채팅 방</h3>
			
			<div style="background: lightgrey;">
				<table class="table table-hover">
					<th:block th:if="${#lists.isEmpty(myMessageList)}"> <!-- 메시지가 존재하지 않음 -->
						<tr>
							<td></td>
							<td>
								
							</td>
						</tr>
					</th:block>
					<th:block th:unless="${#lists.isEmpty(myMessageList)}"> <!-- 메시지가 존재함 -->
						<tr>
							<td>프로필 사진 | 아이디</td>
							<td>
								메시지 내용
								<br/>
								메시지 전송 시각
							</td>
						</tr>
					</th:block>
				</table>
				
				<form method="post" th:action="@{chats/{memberNo}/room(memberNo=${session.loginMember.memberNo})}" id="chatForm">
					<!-- 채팅 내용은 VARCHAR2(300) -->
					<textarea class="form-control" name="messageContent" id="messageContent" placeholder="대화 내용을 입력해주세요." rows="3"></textarea>
					<button type="button" class="btn btn-warning" id="msgSubmitBtn">전송</button>				
				</form>
			</div>
		</div>	
	
	
		<div><!-- 오른쪽 공백 --></div>
	</div>
	
	
	<div th:replace="~{common/footer :: footer}"></div>
	<script th:inline="javascript">
		window.onload = () => {
			/* <![CDATA[ */
			const loginMember = /*[[${session.loginMember}]]*/'로그인 회원';
			const roomNo = /*[[${myChatMember[0].roomNo}]]*/'현재채팅참여자';
			const joinNo = /*[[${myChatMember[0].joinNo}]]*/'참여번호';
			/* ]]> */
			
			console.log('roomNo:'+roomNo);
			
			const messageContent = document.querySelector('#messageContent');
			const msgSubmitBtn = document.querySelector('#msgSubmitBtn');
			const chatForm = document.querySelector('#chatForm');
			
			//채팅 전송 요청 : 비동기 (시작)
			msgSubmitBtn.addEventListener('click', () => {
				//채팅 내용 유효성 검사
				if (messageContent.value.length == 0) {
					alert('대화 내용을 입력해주세요.');
					messageContent.focus();			
				} else {
					console.log(loginMember.memberNo); //발신자 회원번호
					console.log(roomNo); //채팅방 번호
					
					$.ajax({
						url: `/chats/${loginMember.memberNo}/room`,
						type: 'POST',
						data: {
							roomNo: roomNo,
							joinNo: joinNo,
							messageContent: messageContent.value
						},
						sucess: data => {
							console.log(data);
						},
						error: data => {
							console.log(data);
						}
					});
					
				}
			});
			//채팅 전송 요청 (끝)
			
			//웹소켓 연결 요청 (시작)
			function connect() {
								
				
				
				
				
			}

			var socket = new SockJS("/ws-endpoint");
		    var stompClient = Stomp.over(socket);
		    stompClient.connect({}, function (frame) {
			    console.log('Connected: ' + frame);
			    
			    //메시지 구독하기
			    stompClient.subscribe('/app/hello', function(message) {
			        var content = JSON.parse(message.body);
			        console.log('Received message:', content);
			        // 메시지 처리 로직
			    });
			});
			
			
		}
	</script>
</body>
</html>