<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>채팅 방 조회</title>
	<!-- 페이지명 왼쪽에 아이콘 삽입 -->
	<link rel="shortcut icon" href="/image/icon/logo.png">
	<!-- css -->
	<link href="/css/chatRoom.css" rel="stylesheet" type="text/css"/>
	<!-- Stomp 추가 -->
	<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
	<div th:replace="~{common/header :: header}"></div>

	<div id="wrapper">
		<div><!-- 왼쪽 공백 --></div>
		
		<div><!-- 왼쪽 메뉴 공간 -->
			<ul class="nav flex-column">
				<li class="nav-item">
					<a th:if="${info == 'general'}" class="nav-link disabled" aria-current="page" href="#">일반 정보</a>
			    	<a th:unless="${info == 'general'}" class="nav-link active" th:href="@{/members/{memberNo}(memberNo=${session.loginMember.memberNo}, info='general')}">일반 정보</a> 
			    	<!-- <a class="nav-link disabled" aria-current="page" href="#">일반 정보</a> -->
			  	</li>
			  	<li class="nav-item">
			    	<a th:if="${info == 'epilogue'}" class="nav-link disabled" aria-current="page" href="#">나의 후기</a>
			    	<a th:unless="${info == 'epilogue'}" class="nav-link active" th:href="@{/epilogues/{memberNo}(memberNo=${session.loginMember.memberNo})}">나의 후기</a>
			  	</li>
			  	<li class="nav-item">
			    	<a th:if="${info == 'pwd'}" class="nav-link disabled" aria-current="page" href="#">비밀번호 변경하기</a>
			    	<a th:unless="${info == 'pwd'}" class="nav-link active" th:href="@{/members/{memberNo}/edit(memberNo=${session.loginMember.memberNo}, info='pwd')}">비밀번호 변경하기</a>
			  	</li>
			  	<li class="nav-item">
			    	<a th:if="${info == 'chat'}" class="nav-link disabled" aria-current="page" href="#">나의 채팅</a>
			    	<a th:unless="${info == 'chat'}" class="nav-link active" th:href="@{/chats/{memberNo}(memberNo=${session.loginMember.memberNo})">나의 채팅</a>
			  	</li>
			</ul>
		</div>
		
		<div> <!-- 본문 컨텐츠 -->
			<h3>채팅 방</h3>
			<div style="background: lightyellow;">
				<table class="table table-borderless table-sm align-middle table-secondary" id="chatTable">
					<th:block th:if="${#lists.isEmpty(myMessageList)}"> <!-- 메시지가 존재하지 않음 -->
						<tr>
							<td></td>
							<td>
								대화 내용이 없습니다. 채팅을 시작해보세요!
							</td>
							<td></td>
						</tr>
					</th:block>
					
					<th:block th:unless="${#lists.isEmpty(myMessageList)}" th:each="message : ${myMessageList}"> <!-- 메시지가 존재함 -->
						<th:block th:if="${message.joinNo == senderJoinNo}"> <!-- 내가 보낸 메시지인 경우 -->
							<tr>
								<td></td>
								<td></td>
								<td class="myChatTd">
									<span class="chatTimeSpan" th:text="${#dates.format(message.messageCreate, 'MM-dd:HH:mm')}"></span>
									<span class="chatMessageSpan">[[${message.messageContent}]]</span>
								</td>
							</tr>
						</th:block>
							
						<th:block th:unless="${message.joinNo == senderJoinNo}"> <!-- 상대방이 보낸 메시지인 경우 -->
							<tr>
								<td rowspan="2" class="yourProfileTd">
									 <img th:unless="${receiver.profileRename == null}" th:src="'/' + ${receiver.profileRename}" class="chatProfile"/>
									 <img th:if="${receiver.profileRename == null}" th:src="${receiver.memberGender.toString() == 'M' ? '/image/icon/profile_male.png' : '/image/icon/profile_female.png'}" class="chatProfile"/>
								</td>
								<td>
									<span class="chatIdSpan">[[${receiver.memberId}]]</span>
								</td>
								<td></td>
							</tr>
							<tr>
								<td class="yourChatTd">
									<span class="chatMessageSpan" th:text="${message.messageContent}"></span>
									<span class="chatTimeSpan" th:text="${#dates.format(message.messageCreate, 'MM-dd:HH:mm')}"></span>
							  	</td>
						  		<td></td>
							</tr>
						</th:block>
					</th:block>
				</table>
				
				<form method="post" th:action="@{chats/{memberNo}/room(memberNo=${session.loginMember.memberNo})}" id="chatForm">
					<!-- 채팅 내용은 VARCHAR2(300) -->
					<textarea class="form-control" name="messageContent" id="messageContent" placeholder="대화 내용을 입력해주세요." rows="3"></textarea>
					<button type="button" class="btn btn-warning" id="msgSubmitBtn">전송</button>				
				</form>
			</div>
		</div>	
		
		<div><!-- 오른쪽 공백 --></div>
	</div>
	
	
	<div th:replace="~{common/footer :: footer}"></div>
	<script th:inline="javascript">
		window.onload = () => {
			//현재 시각을 '월-일 시:분' 으로 표현하는 함수 (시작) 
			const getDateFormat = () => {
				let now = new Date();
				let month = ('0' + (now.getMonth() + 1)).slice(-2);
				let day = ('0' + now.getDate()).slice(-2);
				let hours = ('0' + now.getHours()).slice(-2);
				let minutes = ('0' + now.getMinutes()).slice(-2);
				
				return `${month}-${day} ${hours}:${minutes}`;
			}
			//현재 시각을 '월-일 시:분' 으로 표현하는 함수 (끝)
			
			//웹 소켓 연결 (시작)
			let stompClient = null;
			connect(); //현재 페이지 로드시에 웹소켓을 연결함
			//웹 소켓 연결 (끝)
			
			/* <![CDATA[ */
			const loginMember = /*[[${session.loginMember}]]*/'로그인 회원';
			const receiver = /*[[${receiver}]]*/'채팅 중인 상대방';
			const roomNo = /*[[${myChatMember[0].roomNo}]]*/'현재 참여 중인 방 번호';
			const joinNo = /*[[${senderJoinNo}]]*/'참여번호';
			/* ]]> */
			
			console.log('현재 방 번호 :' + roomNo);
			console.log('나의 참여 번호 : ' + joinNo);
			
			const chatTable = document.querySelector('#chatTable');
			const messageContent = document.querySelector('#messageContent');
			const msgSubmitBtn = document.querySelector('#msgSubmitBtn');
			const chatForm = document.querySelector('#chatForm');
			
			//채팅 전송 요청 : 비동기 (시작)
			msgSubmitBtn.addEventListener('click', () => {
				//채팅 내용 유효성 검사
				if (messageContent.value.length == 0) {
					alert('대화 내용을 입력해주세요.');
					messageContent.focus();			
				} else {
					console.log(loginMember.memberNo); //발신자 회원번호
					console.log(roomNo); //채팅방 번호
					 
					sendChat(); //채팅 메시지를 컨트롤러에게 전달하기
					
				}
			});
			//채팅 전송 요청 (끝)
			
			//웹소켓 연결 요청 함수 (시작)
			function connect() {
				let socket = new SockJS("/ws-endpoint");
			    stompClient = Stomp.over(socket);
			    stompClient.connect({}, function (frame) {
				    console.log('Connected: ' + frame);
				    
				    //메시지 구독하기 : /queue/방번호
				    stompClient.subscribe(`/queue/${roomNo}`, function(message) {
				    	console.log('메시지?')
				        var content = JSON.parse(message.body);
				        console.log('Received message:', content);
				        // 메시지 처리 로직
				        loadChat(content);
				    });
				});
			}
			//웹소켓 연결 요청 함수 (끝)

			//웹소켓 연결 해제 요청 함수 (시작)
			function disconnet() {
				if (stompClient != null) {
					stompClient.disconnect(); //웹소켓 연결 헤제하기
				}
				console.log('Disconnected');
			}
			//웹소켓 연결 해제 요청 함수 (끝)
			
			//방 번호, 발신자 아이디, 발신자 번호, 참여 번호, 채팅 내용을 MessageHandlerController로 전달하는 함수 (시작)
			function sendChat() {
				//파라미터 체크
				console.log(JSON.stringify({
					'roomVisiter': loginMember.memberNo,
					'roomVisiterId': loginMember.memberId,
					'joinNo': joinNo,
					'message': messageContent.value
				}));
				
				stompClient.send(`/app/${roomNo}`, {},
					JSON.stringify({
						'roomVisiter': loginMember.memberNo,
						'roomVisiterId': loginMember.memberId,
						'joinNo': joinNo,
						'messageContent': messageContent.value
					})		
				);
				messageContent.value = '';
			}
			//방 번호, 발신자 아이디, 채팅 내용을 MessageHandlerController로 전달하는 함수 (끝)
			
			//전달받은 메시지 내용 처리 함수 (시작)
			function loadChat(content) {
				let profileRename;
				
				if (content.roomVisiterId == loginMember.memberId) { //본인이 보낸 메시지 출력
					chatTable.insertAdjacentHTML(
							'beforeend', `<tr>
											<td></td>
											<td></td>
											<td class="myChatTd">
												<span class="chatTimeSpan">${getDateFormat()}</span>
												<span class="chatMessageSpan">${content.messageContent}</span>
											</td>
										  </tr>`		
						);
					
				} else if (content.roomVisiterId == receiver.memberId) { //상대방이 보낸 메시지 출력
					if (receiver.profileRename != null) { //프로필 이미지가 존재하는 회원
						profileRename = '/' + receiver.profileRename;
					} else { //프로필 이미지가 존재하지 않는 회원
						if (receiver.memberGender == 'M') profileRename = '/image/icon/profile_male.png';
						else profileRename = '/image/icon/profile_female.png';
					}
				
					chatTable.insertAdjacentHTML(
							'beforeend', `<tr>
											<td rowspan="2" class="yourProfileTd">
												 <img src=${profileRename} class="chatProfile"/>
											</td>
											<td>
												<span class="chatIdSpan">${content.roomVisiterId}</span>
											</td>
											<td></td>
										  </tr>
										  <tr>
										  	<td class="yourChatTd">
										  	<span class="chatMessageSpan">${content.messageContent}</span>
										  		<span class="chatTimeSpan">${getDateFormat()}</span>
										  	</td>
									  		<td></td>
										  </tr>`		
						);
				}
			}		
			//전달받은 메시지 내용 처리 함수 (끝)
		    
		   
		    
		    
			
		} //window.onload 의 끝
		
		//웹 소켓 연결 해제 (시작)
		window.BeforeUnloadEvent = () => { //해당 페이지를 떠나려고 할 때 이벤트가 발생한다.
			disconnet(); 
		}
		//웹 소켓 연결 해제 (끝)
	</script>
</body>
</html>