<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>후기 관리하기</title>
	<!-- 페이지명 왼쪽에 아이콘 삽입 -->
	<link rel="shortcut icon" href="/image/icon/logo.png">
	<!-- css -->
	<link href="/css/epilogueInfo.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div th:replace="~{common/header :: header}"></div>
	
	<br/>
		
	<div id="wrapper">
		<div><!-- 왼쪽 공백 --></div>
		<div><!-- 왼쪽 메뉴 공간 -->
			<ul class="nav flex-column">
				<li class="nav-item">
					<a th:if="${info == 'general'}" class="nav-link disabled" aria-current="page" href="#">일반 정보</a>
			    	<a th:unless="${info == 'general'}" class="nav-link active" href="infoPage.me?info=general">일반 정보</a> 
			    	<!-- <a class="nav-link disabled" aria-current="page" href="#">일반 정보</a> -->
			  	</li>
			  	<li class="nav-item">
			    	<a th:if="${info == 'epilogue'}" class="nav-link disabled" aria-current="page" href="#">나의 후기</a>
			    	<a th:unless="${info == 'epilogue'}" class="nav-link active" href="infoPage.me?info=epilogue">나의 후기</a>
			  	</li>
			  	<li class="nav-item">
			    	<a th:if="${info == 'pwd'}" class="nav-link disabled" aria-current="page" href="#">비밀번호 변경하기</a>
			    	<a th:unless="${info == 'pwd'}" class="nav-link active" href="infoPage.me?info=epilogue">비밀번호 변경하기</a>
			  	</li>
			  	<li class="nav-item">
			    	<a th:if="${info == 'chat'}" class="nav-link disabled" aria-current="page" href="#">나의 채팅</a>
			    	<a th:unless="${info == 'chat'}" class="nav-link active" href="infoPage.me?info=epilogue">나의 채팅</a>
			  	</li>
			</ul>
		</div>
		<div><!-- 컨텐츠 출력 공간 -->
			<div class="row row-cols-1 row-cols-md-3 g-4">
				<div class="col" th:each="rh : ${rhList}">
			    	<div class="card h-100" style="width: 18rem;">
				  		<div class="card-body">
				    		<h5 class="card-title">[[${rh.companyName}]]</h5>
				    		<p class="card-text">
				    			<span>
					    			<th:block th:if="${rh.resumeCareer == 0}">[신입]</th:block>
					    			<th:block th:if="${rh.resumeCareer == 1}">[1년차]</th:block>
					    			<th:block th:if="${rh.resumeCareer == 3}">[3년차]</th:block>
					    			<th:block th:if="${rh.resumeCareer == 5}">[5년차]</th:block>
				    			</span>
				    			<span class="companySpan">[[${rh.companyType.typeName}]]</span>
				    			<br/>
				    			지원날짜 : [[${rh.resumeDate}]]
			    			</p>
				  		</div>
				  		<!-- 지원이력에 대한 후기가 있는지 없는 검사하여 출력 -->
				  		<div class="card-footer">
		      				<input type="hidden" name="resumeNo" th:value="${rh.resumeNo}"/>
			      			<small class="text-body-secondary" th:unless="${tree[rh.resumeNo] == 0}">
			      				<button type="button" class="btn btn-primary readBtn">Go Read</button>
			      			</small>
			      			<small class="text-body-secondary" th:if="${tree[rh.resumeNo] == 0}">
			      				<button type="button" class="btn btn-primary writeBtn">Go Write</button>
			      			</small>
	    		  		</div>
					</div>
			  	</div>
				
				<div class="col">
			    	<div class="card h-100" style="width: 18rem;">
				  		<div class="card-body">
				    		<h5 class="card-title">회사명</h5>
				    		<p class="card-text">
				    			[경력] [회사 직군]<br/>
				    			[지원 날짜]
			    			</p>
				    
				  		</div>
				  		<div class="card-footer">
			      			<small class="text-body-secondary">
			      				<a href="#" class="btn btn-primary">Go write</a>
			      			</small>
	    		  		</div>
					</div>
			  	</div>
			</div>
			
			<br/>
			
			<nav aria-label="Page navigation" th:with="loc=${loc}"> <!-- loc = 요청url -->
			    <ul class="pagination">
				    <li class="page-item">
				    	<a class="page-link" th:if="${pi.currentPage > 1}" th:href="@{${loc}(page=${pi.currentPage - 1})}" aria-label="Previous">
				        	<span aria-hidden="true">&lt;</span>
				        </a>
				      	<a class="page-link disabled" th:unless="${pi.currentPage > 1}" href="#" aria-label="Previous">
				        	<span aria-hidden="true">&lt;</span>
				        </a>
				    </li>
				    <li class="page-item" th:each="p : ${#numbers.sequence(pi.startPage, pi.endPage)}">
				    	<a class="page-link" th:if="${pi.currentPage != p && p > 0}" th:href="@{${loc}(page=${p})}">[[${p}]]ㅋㅋ</a>
				    	<a class="page-link disabled" th:unless="${pi.currentPage != p && p < 1}" href="#">[[${p}]]</a>
			    	</li>
				    <li class="page-item">
				        <a class="page-link" th:if="${pi.currentPage < pi.maxPage}" th:href="@{${loc}(page=${pi.currentPage + 1})}" aria-label="Next">
				        	<span aria-hidden="true">&gt;</span>
				        </a>
				    	<a class="page-link disabled" th:unless="${pi.currentPage < pi.maxPage}" href="#" aria-label="Next">
				        	<span aria-hidden="true">&gt;</span>
				        </a>
				    </li>
			    </ul>
			</nav>
		</div>
		<div><!-- 오른쪽 공백 --></div>
	</div>
	
	<br/>
	
	<div th:replace="~{common/footer :: footer}"></div>
	
	
	<!-- 후기 작성용 모달 -->
	<div class="modal fade" id="insertModal" tabindex="-1" aria-labelledby="insertModalLabel" aria-hidden="true" data-bs-backdrop="static">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="insertModalLabel">후기 작성</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <form>
	          <div class="mb-3">
	            <label for="insertCompanyName" class="col-form-label">CompanyName:</label>
	            <input type="text" class="form-control" id="insertCompanyName" readOnly>
	          </div>
	          <div class="mb-3">
	            <label for="insertMessage" class="col-form-label">Epilogue Message:</label>
	            <input type="hidden" name="resumeNo" id="insertResumeNo" value=""/>
	            <textarea class="form-control" id="insertMessage" rows="10" style="resize:none;"></textarea>
	          </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" id="insertClose" data-bs-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" id="insertSubmit">Submit</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<!-- 후기 조회용 모달 -->
	<div class="modal fade" id="selectModal" tabindex="-1" aria-labelledby="selectModalLabel" aria-hidden="true" data-bs-backdrop="static">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="selectModalLabel">후기 조회</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <form>
	          <div class="mb-3">
	            <label for="selectCompanyName" class="col-form-label">CompanyName:</label>
	            <input type="text" class="form-control" id="selectCompanyName" readOnly>
	          </div>
	          <div class="mb-3">
	            <label for="selectMessage" class="col-form-label">Epilogue Message:</label>
	            <input type="hidden" name="resumeNo" id="selectResumeNo" value=""/>
	            <textarea class="form-control" id="selectMessage" rows="10" style="resize:none;"></textarea>
	          </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" id="selectClose" data-bs-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" id="selectUpdate">Update</button>
	        <button type="button" class="btn btn-primary" id="updateSubmit" style="display:none;">Submit</button>
	        <button type="button" class="btn btn-danger" id="selectDelete">Delete</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<script th:inline="javascript">
		window.onload = () => {
			/* <![CDATA[ */
			const loginMember = /*[[${session.loginMember}]]*/'로그인유저';	
			/* ]]> */
			const memberNo = loginMember.memberNo;
			
			//후기에 대한 버튼 요소에 접근
			const readBtnList = $('.readBtn');
			const writeBtnList = $('.writeBtn');
			// 후기 작성용 모달 내 요소에 접근
			const modalTitle = document.querySelector('#insertModalLabel');
			const modalCompanyName = document.querySelector('#insertCompanyName');
			const modalResumeNo = document.querySelector('#insertResumeNo');
			const modalMessageText = document.querySelector('#insertMessage');
			const modalSubmit  = document.querySelector('#insertSubmit');
			// 후기 조회용 모달 내 요소 접근
			const selectModalLabel = document.querySelector('#selectModalLabel');
			const selectCompanyName = document.querySelector('#selectCompanyName');
			const selectResumeNo = document.querySelector('#selectResumeNo');
			const selectMessage = document.querySelector('#selectMessage');
			const selectClose = document.querySelector('#selectClose');
			const selectUpdate = document.querySelector('#selectUpdate');
			const updateSubmit = document.querySelector('#updateSubmit');
			const selectDelete = document.querySelector('#selectDelete');
			
			/*<![CDATA[*/
			const epList = /*[[${epList}]]*/'후기리스트';
			/*]]>*/
			
			//후기 작성버튼 : 클릭 이벤트 (시작)
			writeBtnList.on('click', function() {
				const resumeNo = $(this).parent().prev().val();
				//text() : 공백를 포함해서 요소 내부 텍스트를 읽어온다
				const companyName = $(this).parent().parent().prev().find('.companySpan').text();
				
				modalCompanyName.value = companyName;
				modalResumeNo.value = resumeNo;
				modalMessageText.value = ''; //과거에 입력된 내용을 초기화
				$('#insertModal').modal('show');
				
			});
			//후기 작성버튼 : 클릭 이벤트 (끝)
			
			//후기 제출버튼 : 클릭 이벤트 (시작)
			modalSubmit.addEventListener('click', () => {
				//지원이력 번호와 후기 내용을 컨트롤러에게 전달한다.
				console.log('지원이력 번호 = ' + modalResumeNo.value);
				console.log('후기 내용 = ' + modalMessageText.value);
				
				$.ajax({ //epilogues/{memberNo}/write (POST)
					url : `/epilogues/${memberNo}/write`,
					type : 'POST',
					data : {
						resumeNo : modalResumeNo.value,
						epilogueContent : modalMessageText.value
					},
					success : data => {
						console.log(data);
						
						if(data == 'success') {
							alert('후기 등록이 완료되었습니다.');
							location.reload(); //화면 요소를 변경하고, 변경된 요소에 대한 이벤트를 지정해야함 -> 새로고침
						} else {
							alert('서비스 요청에 실패하였습니다.');
						}
					},
					error : data => {
						console.log(data);
					}
				});
			});
			//후기 제출버튼 : 클릭 이벤트 (끝)
			
			//후기 조회버튼 : 클릭 이벤트 (시작)
			//반복문 내에서 클릭 이벤트를 지정하기 싫어서 jQuery 문법으로 클릭 이벤트를 지정하였다.
			readBtnList.on('click', function() {
				//후기 내용 
				for (const ep of epList) {
					if (ep.resumeNo == $(this).parent().prev().val()) {
						const companyName = $(this).parent().parent().prev().find('.companySpan').text();
						selectCompanyName.value = companyName;
						selectResumeNo.value = ep.resumeNo;
						selectMessage.readOnly = true;
						selectMessage.value = ep.epilogueContent; //과거에 입력된 내용을 초기화
						
						$('#selectModal').modal('show');
					}
				}
			});
			//후기 조회버튼 : 클릭 이벤트 (끝)
			
			//후기 수정버튼 : 클릭 이벤트(시작)
			selectUpdate.addEventListener('click', function() {
				selectModalLabel.textContent = '후기 수정';
				selectMessage.readOnly = false;				
				this.style.display = 'none';
				updateSubmit.style.display = 'inline';
			});
			//후기 수정버튼 : 클릭 이벤트(끝)
			
			//후기 조회 모달 : 닫기 버튼 -> 클릭 이벤트 (시작)
			selectClose.addEventListener('click', () => {
				selectUpdate.style.display = 'inline'; //수정 버튼 보이기
				updateSubmit.style.display = 'none'; //제출 버튼 숨기기
			});
			//후기 조회 모달 : 닫기 버튼 -> 클릭 이벤트 (끝)
			
			//후기 수정제출 버튼 : 클릭 이벤트(시작)
			updateSubmit.addEventListener('click', function() {
				//지원이력 번호와 후기 내용을 컨트롤러에게 전달한다.
				console.log('지원이력 번호 = ' + selectResumeNo.value);
				console.log('후기 내용 = ' + selectMessage.value);
				
				$.ajax({
					url : '/updateEpilogue.ep',
					type : 'POST',
					data : {
						resumeNo : selectResumeNo.value,
						epilogueContent : selectMessage.value
					},
					success : data => {
						console.log(data);
						
						if(data == 'success') {
							alert('수정이 완료되었습니다.');
							selectMessage.readOnly = true;
							this.style.display = 'none';
							selectUpdate.style.display = 'inline';
							
							//백단에서 가져온 후기 목록 중에서 수정한 내용을 최신화해야 함
							for (const ep of epList) {
								if (ep.resumeNo == selectResumeNo.value) {
									ep.epilogueContent = selectMessage.value;
								}
							}
						} else {
							alert('서비스 요청에 실패하였습니다.');
						}
					},
					error : data => {
						console.log(data);
					}
				});
			});
			//후기 수정제출 버튼 : 클릭 이벤트(끝)
			
			//후기 조회 모달 -> 후기 삭제 버튼 : 클릭 이벤트(시작)
			selectDelete.addEventListener('click', () => {
				console.log('삭제할 번호 : ' + selectResumeNo.value);
				
				$.ajax({
					url : '/deleteEpilogue.ep',
					type : 'POST',
					data : {
						resumeNo : selectResumeNo.value
					},
					success : data => {
						console.log(data);
						
						if (data == 'success') {
							location.reload();
						} else {
							alert('서비스 요청에 실패하였습니다.');
						}
					},
					error : data => {
						console.log(data);
					}
				});
				
			});
			//후기 조회 모달 -> 후기 삭제 버튼 : 클릭 이벤트(끝)
			
		}
	</script>
</body>
</html>