<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>나의 일반 정보</title>
	<!-- 페이지명 왼쪽에 아이콘 삽입 -->
	<link rel="shortcut icon" href="/image/icon/logo.png">
	<!-- css -->
	<link href="/css/generalInfo.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div th:replace="~{common/header :: header}"></div>
	
	<br/>
		
	<div id="wrapper">
		<div><!-- 왼쪽 공백 --></div>
		<div><!-- 왼쪽 메뉴 공간 -->
			<ul class="nav flex-column">
				<li class="nav-item">
					<a th:if="${info == 'general'}" class="nav-link disabled" aria-current="page" href="#">일반 정보</a>
			    	<a th:unless="${info == 'general'}" class="nav-link active" href="infoPage.me?info=general">일반 정보</a> 
			    	<!-- <a class="nav-link disabled" aria-current="page" href="#">일반 정보</a> -->
			  	</li>
			  	<li class="nav-item">
			    	<a th:if="${info == 'epilogue'}" class="nav-link disabled" aria-current="page" href="#">나의 후기</a>
			    	<a th:unless="${info == 'epilogue'}" class="nav-link active" href="epiloguePage.ep">나의 후기</a>
			  	</li>
			  	<li class="nav-item">
			    	<a th:if="${info == 'pwd'}" class="nav-link disabled" aria-current="page" href="#">비밀번호 변경하기</a>
			    	<a th:unless="${info == 'pwd'}" class="nav-link active" href="infoPage.me?info=epilogue">비밀번호 변경하기</a>
			  	</li>
			  	<li class="nav-item">
			    	<a th:if="${info == 'chat'}" class="nav-link disabled" aria-current="page" href="#">나의 채팅</a>
			    	<a th:unless="${info == 'chat'}" class="nav-link active" href="infoPage.me?info=epilogue">나의 채팅</a>
			  	</li>
			</ul>
		</div>
		<div><!-- 컨텐츠 출력 공간 -->
			<table class="table table-hover align-middle">
				<tr>
					<td>프로필 사진</td>
					<td>
						<div id="profileDiv" class="form-text">
							<!-- 프로필이 등록된 경우 -->
							<th:block th:unless="${session.loginMember.profileRename == null}"> 
								<img th:src="@{'/' + ${session.loginMember.profileRename}}" style="width: 100%; height: 100%;"/>
							</th:block>
							
							<!-- 프로필이 등록되지 않은 경우 -->
							<th:block th:if="${session.loginMember.profileRename == null}">
								<img th:src="${session.loginMember.memberGender.toString() == 'M' ? '/image/icon/profile_male.png' : '/image/icon/profile_female.png'}" style="width: 100%; height: 100%;"/>
							</th:block>
						</div>
						<div id="profileBtns">
							<!-- <input type="file" id="profile" name="file" class="form-control" accept=".png, .jpg, .jpeg" aria-describedby="profileDiv"/> -->
							<br/>
							<!-- <button id="removeProfile" class="btn btn-primary" style="width: 300px;">제거하기</button> -->
						</div>
					</td>
				</tr>
				<tr>
					<td>아이디</td>
					<td>
						<input type="text" id="memberId" name="memberId" class="form-control" size="10" th:value="${session.loginMember.memberId}" readOnly style="width:300px; display:inline-block;"/>
						<!-- <span id="idCheckResult" class="badge rounded-pill text-bg-light">아이디 중복을 확인합니다.</span> -->
					</td>
				</tr>
				
				<tr>
					<td>이름</td>
					<td>
						<input type="text" name="memberName" class="form-control" th:value="${session.loginMember.memberName}" readOnly/>
					</td>
				</tr>
				
				<tr>
					<td>성별</td>
					<td>
						<label><input type="radio" class="form-check-input" name="memberGender" value="M" th:checked="${session.loginMember.memberGender.toString() == 'M'}" disabled> 남</label>
						<label><input type="radio" class="form-check-input" name="memberGender" value="F" th:checked="${session.loginMember.memberGender.toString() == 'F'}" disabled> 여</label>
					</td>
				</tr>
				<tr>
					<td>생년월일</td>
					<td>
						<input type="number" id="memberAge" name="memberAge" class="form-control" th:value="${session.loginMember.memberAge}" readOnly/>
						<!-- <span id="ageCheckResult" class="badge rounded-pill text-bg-light">YYMMdd의 형식으로 입력해주세요.</span> -->
					</td>
				</tr>
				<tr>
					<td>주소</td>
					<td th:with="address = ${#strings.arraySplit(session.loginMember.memberAddress, '_')}">
						<input type="text" class="form-control memberAddress" placeholder="우편번호" th:value="${address[0]}" readOnly/>
						<!-- <button type="button" id="searchAddress" class="btn btn-primary">입력하기</button> -->
						<br/>
						<input type="text" class="form-control memberAddress" placeholder="기본 주소 입력" th:value="${address[1]}" readOnly/>
						<input type="text" class="form-control memberAddress" th:value="${address.length > 2 ? address[2] : ''}" readOnly/>
						<input type="hidden" name="memberAddress"/>
					</td>
				</tr>
				<tr>
					<td>이메일</td>
					<td th:with="email = ${#strings.arraySplit(session.loginMember.memberEmail, '@')}">
						<input type="text" class="form-control memberEmail" th:value="${email[0]}" readOnly/>
						@
						<select class="form-select memberEmail" disabled>
							<option>-</option>
							<option th:selected="${email[1] == 'naver.com'}">naver.com</option>
							<option th:selected="${email[1] == 'google.com'}">google.com</option>
							<option th:selected="${email[1] == 'hanmail.net'}">hanmail.net</option>
						</select>
						<input type="hidden" name="memberEmail"/>
					</td>
				</tr>
				<tr>
					<td>휴대전화</td>
					<td>
						<input type="number" class="form-control phoneNumber" min="0" th:value="${#strings.substring(session.loginMember.memberPhone, 0, 3)}" readOnly/>
						-
						<input type="number" class="form-control phoneNumber" min="0" th:value="${#strings.substring(session.loginMember.memberPhone, 3, 7)}" readOnly/>
						-
						<input type="number" class="form-control phoneNumber" min="0" th:value="${#strings.substring(session.loginMember.memberPhone, 7)}" readOnly/>
						<!-- <button type="button" id="phoneCheck" class="btn btn-primary">인증하기</button> -->
						<input type="hidden" name="memberPhone"/>
					</td>
				</tr>
				<!-- <tr>
					<td>휴대전화 인증</td>
					<td>
						<input type="text" class="form-control phoneConfirm" disabled/>
						<button type="button" class="btn btn-primary phoneConfirm" disabled>인증확인</button>
						<span class="badge rounded-pill text-bg-light phoneConfirm">문자 인증이 필요합니다.</span>
					</td>
				</tr> -->
				<tr>
					<td>히스토리 공개</td>
					<td>
						<label><input type="radio" class="form-check-input" name="memberHistory" value="Y" th:checked="${session.loginMember.memberHistory.toString() == 'Y'}" disabled/>Y</label>
						<label><input type="radio" class="form-check-input" name="memberHistory" value="N" th:checked="${session.loginMember.memberHistory.toString() == 'N'}" disabled/>N</label>
					</td>
				</tr>
			</table>
			
			<div class="text-center">
				<button id="modifyBtn" class="btn btn-primary" style="width: 300px;">수정하기</button>
				<button id="backBtn" class="btn btn-light" style="width: 300px;" onclick="history.back()">뒤로가기</button>
			</div>
		</div>
		<div><!-- 오른쪽 공백 --></div>
	</div>
	
	<br/>
	
	<div th:replace="~{common/footer :: footer}"></div>
	
	<script th:inline="javascript">
		window.onload = () => {
			// 회원 일반정보 수정 폼 요청 (시작) -> members/{memberNo}/edit?info=general (GET)
			/* <![CDATA[ */
			const loginMember = /*[[${session.loginMember}]]*/'로그인멤버';
			/* ]]> */
			const memberNo = loginMember.memberNo;
			const modifyBtn = document.querySelector('#modifyBtn');
			modifyBtn.addEventListener('click', () => {
				//console.log(`members/${memberNo}/info/edit`);
				location.href=`/members/${memberNo}/edit?info=general`;
			});
			// 회원 일반정보 수정 폼 요청 (끝)
		}
	</script>
</body>
</html>