@charset "UTF-8";

#wrapper {display:grid; grid-template-columns: 1fr 280px 1000px 1fr;}

#messageContent {resize: none; width: 600px; display:inline-block;}
#msgSubmitBtn {width:200px;}

/*
	채팅 방 관련 스타일
*/
.chatProfile { width: 100px; height: 100px; }
.myChatTd { text-align: right;}
.yourChatTd { text-aligh: left;}
.yourProfileTd { width:120px;}
.chatIdSpan {}