<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.my.resumeManager.epilogue.model.dao.EpilogueMapper">
	<!-- 단위 테스트 : EPILOGUE 테이블 연결 -->
	<select id="connectTest" resultType="_int">
		select count(*) from epilogue
	</select>
	
	<resultMap type="com.my.resumeManager.resumeHistory.model.vo.ResumeHistory" id="resumeHistoryMap">
 		<id property="resumeNo" column="RESUME_NO"></id>
 		<result property="companyName" column="COMPANY_NAME"></result>
 		<result property="companyRegion" column="COMPANY_REGION"></result>
 		<result property="companySalary" column="COMPANY_SALARY"></result>
 		<result property="resumeCareer" column="RESUME_CAREER"></result>
 		<result property="resumeDate" column="RESUME_DATE"></result>
 		<result property="resumeDeadline" column="RESUME_DEADLINE"></result>
 		<result property="resumeState" column="RESUME_STATE"></result>
 		<result property="resumeVaild" column="RESUME_VAILD"></result>
 		<result property="resumeWriter" column="RESUME_WRITER"></result>
 		<association property="companyType" javaType="com.my.resumeManager.resumeHistory.model.vo.CompanyType">
 			<result property="typeNo" column="TYPE_NO"></result>
 			<result property="typeName" column="TYPE_NAME"></result>
 		</association>
 		<association property="platformType" javaType="com.my.resumeManager.resumeHistory.model.vo.PlatformType">
 			<result property="platformNo" column="PLATFORM_NO"></result>
 			<result property="platformName" column="PLATFORM_NAME"></result>
 		</association>
 	</resultMap>
	
	<select id="getPositiveHistoryCount" resultType="int">
		select /*+ INDEX_DESC(RESUME_HISTORY IDX_HISTORY_VAILD_WRITER)*/count(*) 
 		from resume_history
 		where RESUME_VAILD = 'Y' AND RESUME_WRITER = ${memberNo} AND RESUME_STATE > 0
	</select>
	
	<!-- 나의 후기 목록 : 페이징을 반영한 지원 정보 조회 -->
	<select id="selectPositiveHistory" resultMap="resumeHistoryMap">
		select /*+ INDEX_DESC(RESUME_HISTORY IDX_HISTORY_VAILD_WRITER)*/* 
 		from resume_history
 				join company_type on(company_type_no = type_no)
 				join platform_type using(platform_No)
 		where RESUME_VAILD = 'Y' AND RESUME_WRITER = ${memberNo} AND RESUME_STATE > 0
 		order by resume_date desc
	</select>
	
	<!-- 나의 후기 목록 : 후기 내역 조회 -->
	<select id="selectAllEpilogue" resultType="Epilogue">
		SELECT *
		FROM EPILOGUE
		WHERE EPILOGUE_VAILD = 'Y' AND RESUME_NO IN
		<foreach collection="rhList" item="item" open="(" close=")" separator=", ">${item.resumeNo}</foreach>
	</select>

</mapper>
