<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.my.resumeManager.member.model.dao.MemberMapper">
	<!-- 회원가입 : 아이디 중복 확인 -->
	<select id="checkId" resultType="int">
		SELECT COUNT(*) FROM MEMBER WHERE MEMBER_ID = #{memberId}
	</select>
	
	<!-- 회원가입 : MEMBER 테이블에 삽입 -->
	<insert id="enrollMember" useGeneratedKeys="true">
		<selectKey resultType="_int" keyProperty="memberNo" order="BEFORE">
			SELECT SEQ_MEMBER.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO MEMBER VALUES(${memberNo}, #{memberId}, #{memberPwd}, #{memberName}, #{memberAddress}, #{memberPhone}, 
									#{memberEmail}, #{memberSocial}, #{memberToken}, #{memberHistory}, DEFAULT, DEFAULT, SYSDATE, SYSDATE)
	</insert>
	
	<!-- 회원가입 : PROFILE_IMAGE 테이블에 삽입 -->
	<insert id="enrollImage">
		INSERT INTO PROFILE_IMAGE VALUES(${memberNo}, #{profileOrigin}, #{profileRename}, #{profilePath})
	</insert>

	<!-- 로그인 : 아이디가 일치하는 회원조회 -->
	<select id="login" resultType="Member">
		SELECT * FROM MEMBER WHERE MEMBER_ID = #{memberId}
	</select>
	
	<!-- 아이디 찾기 : 이름을 기준으로 이름과 전화번호, 회원번호 조회 -->
	<select id="checkNamePhone" resultType="Member">
		SELECT /*+ INDEX_ASC(MEMBER IDX_MEMBER_NAME)*/MEMBER_NAME, MEMBER_PHONE, MEMBER_NO
		FROM MEMBER
		WHERE MEMBER_NAME = #{memberName}
	</select>
	
	<!-- 회원 번호가 일치하는 회원 정보 조회 -->
	<select id="selectMemberNo" resultType="Member">
		SELECT * FROM MEMBER WHERE MEMBER_NO = ${memberNo}
	</select>
	
	<!-- 비밀번호 찾기 : 아이디를 기준으로 아이디와 전화번호, 회원번호 조회 -->
	<select id="checkIdPhone" resultType="Member">
		SELECT MEMBER_ID, MEMBER_PHONE, MEMBER_NO
		FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
	</select>
	
	<!-- 비밀번호 수정 -->
	<update id="pwdModify">
		UPDATE MEMBER
		SET MEMBER_PWD = #{memberPwd}
		WHERE MEMBER_NO = ${memberNo}
	</update>
	
	
	
	
	
	
</mapper> 