<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.my.resumeManager.resumeHistory.model.dao.ResumeHistoryMapper">
 	<select id="selectAllPlatformType" resultType="PlatformType">
 		select * from platform_type <!-- 데이터의 갯수가 적기 때문에 인덱스 사용하지 않음 -->
 	</select>
 	
 	<select id="selectAllConditionInfo" resultType="ConditionInfo">
 		select * from condition_info <!-- 데이터의 갯수가 적기 때문에 인덱스 사용하지 않음 -->
 	</select>
 	
 	<select id="selectAllCompanyType" resultType="CompanyType">
 		select * from company_type <!-- 데이터의 갯수가 적기 때문에 인덱스를 사용하지 않음 -->
 	</select>
 	
 	
 	<insert id="insertResumeHistory" useGeneratedKeys="true">
 		<selectKey resultType="_int" keyProperty="resumeNo" order="BEFORE">
 			select seq_history.nextval from dual
 		</selectKey>
 		insert into RESUME_HISTORY
 		values(${resumeNo}, #{resumeWriter}, #{resumeDate}, #{companyName},
				#{companySalary}, #{companyRegion}, #{resumeState}, #{resumeCareer}, #{resumeDeadline},
				#{companyType.typeNo}, #{platformType.platformNo}, DEFAULT)
 	</insert>
 	
 	<!-- 지원 조건 삽입 : 동적 SQL -->
 	<insert id="insertResumeCondition">
 		insert all
 		<foreach collection="list" item="item" separator=" ">
 			into resume_condition values(fn_condition, #{item.resumeNo}, #{item.conditionType}, #{item.infoNo})
 		</foreach>
 		select * from dual
 	</insert>
 	
 	<!-- 지원 이력 삭제 -->
 	<delete id="deleteResumeHistory">
 		delete from resume_history where resume_no = ${resumeNo}
 	</delete>
 	
 	
 </mapper>